# Задание1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [8]:
import pandas as pd

In [71]:
df = pd.read_csv('ratings.csv').head()
df

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [72]:
def result(param): # функция для классификации фильмов
    if param <= 2:
        return 'низкий рйетинг'
    elif 2 < param <= 4:
        return 'средний рейтинг'
    elif 4.5 <= param <= 5:
        return 'высокий рейтинг'

In [73]:
df['class'] = df['rating'].apply(result)

In [74]:
df.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рйетинг
4       1     1172     4.0  1260759205  средний рейтинг

# Задание2
Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [9]:
data = pd.read_csv('keywords.csv')
data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [10]:
# Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [11]:
def city(row):
    for k,v in geo_data.items():
        if row['keyword'] in v:
            row ['region'] = k
            return row
        else:
            row['region'] = 'undefined'
    return row

In [ ]:
data2 = data.apply(city,axis=1)
data2.head()

In [ ]:
data_city = data2[data2['keyword']=='мурманск']
data_city